html {
  background-color: black;
  color: #fff;
}

* {
  background-color: inherit;
  color: inherit;
  border-color: #222;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  padding: 10px;
}

form > input {
  padding: 10px;
  margin: 10px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav .item {
  margin: 10px 20px;
}

nav .right {
  position: absolute;
  right: 20px;
}